body {
    background-color:rgb(43, 40, 40);
    color:rgb(15, 21, 26);
    text-align: center;
}
.head {
    font-family:Georgia;
    color:white;
    text-align:center;
    text-size-adjust:30px;
}
#ball {
    display:block;
    margin-left:auto;
    margin-right:auto;
    height:300px;
}
p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:larger;
    font-style:bold;
}
a {
    font-size:45px;
    color:rgb(123, 167, 157)
}
img {
    height:200px;
}
table {
    display:block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.leauge-logo{
    background-color: rgb(5, 5, 153);
}
tr {
    background-color:aliceblue;
}
.champions{
    background-color: gold;
}
.relegated{
    height:100px;
    background-color: darkred;
}
.promoted{
    height:100px;
    background-color: green;
}
